[submodule "vim-resources/snipmate.vim"]
	path = vim-resources/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim-resources/Command-T"]
	path = vim-resources/Command-T
	url = http://github.com/wincent/Command-T.git
[submodule "vim-resources/nerdtree"]
	path = vim-resources/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
