[submodule "vim-resources/snipmate.vim"]
	path = vim-resources/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim-resources/Command-T"]
	path = vim-resources/Command-T
	url = http://github.com/wincent/Command-T.git
[submodule "vim-resources/nerdtree"]
	path = vim-resources/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim-resources/vim-haml"]
	path = vim-resources/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "vim-resources/vim-rails"]
	path = vim-resources/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim-resources/vim-cucumber"]
	path = vim-resources/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "vim/snippets"]
	path = vim/snippets
	url = http://github.com/anveo/snipmate-snippets.git
[submodule "vim-resources/vim-surround"]
	path = vim-resources/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim-resources/vim-ragtag"]
	path = vim-resources/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
