*.swp
.swo
vim/.netrwhist
vim/autoload/rails.vim
vim/compiler/cucumber.vim
vim/doc/NERD_tree.txt
vim/doc/ragtag.txt
vim/doc/rails.txt
vim/doc/surround.txt
vim/ftdetect/cucumber.vim
vim/ftdetect/haml.vim
vim/ftplugin/cucumber.vim
vim/ftplugin/haml.vim
vim/ftplugin/sass.vim
vim/ftplugin/scss.vim
vim/indent/cucumber.vim
vim/indent/haml.vim
vim/indent/sass.vim
vim/indent/scss.vim
vim/nerdtree_plugin/*
vim/plugin/NERD_tree.vim
vim/plugin/ragtag.vim
vim/plugin/rails.vim
vim/plugin/surround.vim
vim/syntax/cucumber.vim
vim/syntax/haml.vim
vim/syntax/sass.vim
vim/syntax/scss.vim
